body{
	margin:0 auto;
	font-family:helvetica;
	text-align: center;
}

.container{
	margin:0 auto;
    height:50vw;
	width:100vw;
    position: absolute;
}


.imgbox{
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center center;
	background-color: #dddddd;
	position:absolute;
	margin:0 auto;
    border: 3px solid;
    border-radius: 0px;
	border-color: #222222;
	bottom:50%;
	width:30%;
	height:60%;
	transform: translate(50%, 50%);
}

#img1{
	position:absolute;
	right:28%;
}


#img2{
	position:absolute;
	right:72%;
}


#feedback{
	text-align:center;
	font-size:4vh;
	position:absolute;
	bottom:0%;
	right:50%;
	width:50%;
	height:10%;
	transform: translate(50%, 50%);
}